.skills-wrapper {
    @include media-tablet {
        padding: 0 7.4rem 0 7rem;
    }
}

.section-title {
    @include width($width: 11.2rem);
}

.skills-header {
    margin: 0 0 2rem;
}

.skills__description {
    @include font($size: 1.8rem, $height: 3.6rem, $weight: normal);
    margin: 0 0 1rem;
    padding: 0 2rem;
    @include media-tablet {
        @include font($size: 1.8rem, $height: 2.2rem, $weight: normal);
        padding: 0 0 6.1rem;
    }
}

.skills__description:nth-child(3) {
    @include media-tablet {
        padding-bottom: 6.5rem;
    }
}

.skills__description:nth-child(4) {
    @include media-tablet {
        padding-bottom: 6.5rem;
    }
}
