.button {
    @extend %font-primary;
    width: 220px;
    height: 55px;
    padding: 8px 0 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 4rem;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
    &_bordered {
        background: $color-background;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
    &_colored {
        background: $color-primary;
        color: $color-background;
        border: 2px solid $color-primary;
    }
    &:hover {
        color: $color-text;
    }
}

.button:first-child {
    margin-left: 0;
}

.video__button {
    // width: 130px;
    // height: 130px;
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s;
    // &:hover {
    //     color: $color-primary;
    // }
}

.play-video__button {
    // width: 130px;
    // height: 130px;
    // background-image: url(../../assets/svg/video\ 1.svg);
}