.button {
    @extend %font-primary;
    width: 220px;
    height: 55px;
    padding: 8px 0 7px;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 4rem;
    margin-left: 5px;
    cursor: pointer;
    transition: all .3s;
    &_bordered {
        background: $color-background;
        border: 2px solid $color-primary;
        color: $color-primary;
    }
    &_colored {
        background: $color-primary;
        color: $color-background;
        border: 2px solid $color-primary;
    }
    &:hover {
        color: $color-text;
        @extend %transition;
    }
}

.button:first-child {
    margin-left: 0;
}

.video__button {
    margin: 0 auto;
    cursor: pointer;
    transition: all .3s;
}

.contact__button {
    margin: 0 0 195px;
}

.portfolio__buttons {
    display: flex;
    justify-content: center;
    margin: 0 0 60px;
}

.portfolio__buttons button:hover {
    background: $color-primary;
}