.section-title-block {
    position: relative;
    margin: 10rem auto 6rem;
    @include media-tablet {
        width: 36.4rem;
        margin: 8rem auto 5rem;
    }
}

.section-title-block.skills-title {
    @include media-tablet {
        width: 36.4rem;
        margin: 8rem auto 4.5rem;
    }
}

.gradient-container {
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(
      to top,
      $color-background 39px,
      $color-primary 39px,
      $color-primary 41px,
      $color-background 41px
    );
    &.light-theme {
        background-image: linear-gradient(
            to top,
            $color-text 39px,
            $color-background 39px,
            $color-background 41px,
            $color-text 41px
          );
    }
  }

.section-title {
    margin: 0 auto;
    position: relative;
    padding: 0 20px;
    text-align: center;
    @extend %font-add;
    @include font($size: 4rem, $height: 8rem);
    display: table;
    color: $color-primary;
    background-color: $color-background;
    text-transform: capitalize;
    @include media-tablet {
        @include font($size: 3.2rem, $height: 8rem);
    }
    &.light-theme {
        background-color: $color-text;
        color: $color-background;
    }
}

.portfolio-title {
    @include media-tablet {
        margin-top: 8.5rem;
    }
}

.title-line {
    background: url('../assets/img/section-title-line.png') center 0 no-repeat;
    position: absolute;
    top: 50%;
    @include media-tablet {
        width: 36.4rem;
    }
    @include media-big-mobile {
        width: 100%;
    }
}

.section-title-contacts {
    @extend %font-add;
    @include font($size: 4rem, $height: 8rem);
    display: table;
    color: $color-primary;
    margin: 0 0 4rem;
    @include media-tablet {
        @include font($size: 3.2rem, $height: 6.4rem);
        margin: 6rem auto 4rem;
    }
    &.light-theme {
        color: $color-background;
    }
}
