.section-title-block {
    width: 70rem;
    position: relative;
    margin: 10rem auto 6rem;
    @include media-tablet {
        width: 36.4rem;
        margin: 8rem auto 5rem;
    }
}

.section-title-block.skills-title {
    @include media-tablet {
        width: 36.4rem;
        margin: 10rem auto 6.5rem;
    }
}

.section-title {
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px;
    text-align: center;
    @extend %font-add;
    @include font($size: 4rem, $height: 8rem);
    display: table;
    color: $color-primary;
    background-color: $color-background;
    text-transform: capitalize;
    position: relative;
    z-index: 2;
    @include media-tablet {
        @include font($size: 3.2rem, $height: 8rem);
    }
}

.skills-section-title {
    @include media-tablet {
        @include font($size: 3.2rem, $height: 4rem);
    }
}

.portfolio-title {
    @include media-tablet {
        margin-top: 8.5rem;
    }
}

.title-line {
    position: absolute;
    top: 50%;
    @include media-tablet {
        width: 36.4rem;
    }
    @include media-big-mobile {
        width: 100%;
    }
}

.section-title-contacts {
    @extend %font-add;
    @include font($size: 4rem, $height: 8rem);
    display: table;
    color: $color-primary;
    margin: 0 0 4rem;
    @include media-tablet {
        @include font($size: 3.2rem, $height: 6.4rem);
        margin: 6rem auto 4rem;
    }
}
