$color-primary: #bdae82;
$color-background: #000000;
$color-text: #ffffff;
$color-grey: #b3b3b3;

$content-width: 1440px;
$tablet-big-width: 960px;
$tablet-width: 768px;
$tablet-small-width: 540px;
$mobile-big-width: 414px;
$mobile-small-width: 320px;
