.play-path, .nav__item, .logo-path {
  transition: all 0.3s ease-out;
}

.hero__description, .button, body {
  font-family: "Inter", Verdana, sans-serif;
}

.section-title, h3, h2, h1 {
  font-family: "Merriweather", Verdana, sans-serif;
}

@font-face {
  font-family: "Merriweather", serif;
  src: url("assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("assets/fonts/Inter/static/Inter-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.6rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 12rem;
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
}

h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.6rem;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4rem;
}

section, main, footer, header, article {
  display: block;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}

.button {
  width: 220px;
  height: 55px;
  padding: 8px 0 7px;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 4rem;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background: #000000;
  border: 2px solid #bdae82;
  color: #bdae82;
}
.button_colored {
  background: #bdae82;
  color: #000000;
  border: 2px solid #bdae82;
}
.button:hover {
  color: #ffffff;
}

.button:first-child {
  margin-left: 0;
}

.video__button {
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}

.logo__container {
  width: 5rem;
  height: 4rem;
}

.logo {
  width: 5rem;
}

a.logo {
  line-height: 0;
}

.logo-svg:hover .logo-path {
  fill: #bdae82;
}

.ico {
  cursor: pointer;
  width: 66px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 50px;
}

.skills-icon_camera {
  background-image: url(../assets/svg/camera\ 1.svg);
  width: 61.84px;
  height: 50px;
}
.skills-icon_video {
  background-image: url(../assets/svg/video\ 1.svg);
  width: 60px;
  height: 50px;
}
.skills-icon_retouch {
  background-image: url(../assets/svg/image\ 1.svg);
  width: 66px;
  height: 50px;
}
.skills-icon_audio {
  background-image: url(../assets/svg/mic\ 1.svg);
  width: 32px;
  height: 50px;
}

.section-title-block {
  width: 700px;
  position: relative;
  margin: 10rem auto 6rem;
}

.section-title {
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
  display: table;
  color: #bdae82;
  background-color: #000000;
  text-transform: capitalize;
  position: relative;
  z-index: 2;
}

.title-line {
  position: absolute;
  top: 50%;
}

.container {
  max-width: 1400px;
  margin: auto;
}

.header {
  padding: 20px 0;
}

.header__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/img/bg.jpg") center 0 no-repeat;
  background-size: 1440px 910px;
}

.header__container a:hover {
  color: #bdae82;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.layout-4-columns > * {
  flex-basis: 22.8%;
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.layout-3-columns > * {
  flex-basis: 32%;
}

.portfolio__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.portfolio__content > * {
  flex-basis: 32%;
}

.hero__container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: url("../assets/img/bg.jpg") center -90px no-repeat;
  background-size: 1440px 910px;
}

.hero__content {
  margin: 16rem 0 0 8rem;
}

.hero__title {
  max-width: 50rem;
  margin: 0 0 1rem;
}

.hero__description {
  max-width: 47rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  margin: 0 0 2.5rem;
}

.hero__button {
  margin: 0 0 33rem;
}

.header__navigation {
  margin-left: auto;
  margin-right: 1.5rem;
}

.nav-list {
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 5rem;
}

.nav__item {
  list-style: none;
  text-transform: capitalize;
  padding: 0 3rem;
}
.nav__item:hover {
  color: #bdae82;
}

.header__languages {
  display: flex;
}

.language-switcher {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.slash {
  padding: 0 0.8rem;
}

.section-title {
  width: 112px;
}

.skills-header {
  margin: 0 0 20px;
}

.skills__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.6rem;
  margin: 0 0 10px;
  padding: 0;
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 60px;
}

.portfolio__foto {
  width: 450px;
  margin-bottom: 25px;
}

.video-block {
  position: relative;
}

.foto__wedding {
  width: 1400px;
}

.video__button {
  position: absolute;
  bottom: 287px;
  left: 636px;
}

.play-svg:hover .play-path {
  fill: #bdae82;
}

/*# sourceMappingURL=style.css.map */
