.play-path, .nav__item a, .icon-path, .footer__container a:hover, .header__container a:hover, .sun-object:hover, .sun-path, .logo-path, .button:hover {
  transition: all 0.3s ease-out;
}

.hero__description, .contact__form textarea.contacts__line, .contact__form ::placeholder, .button, body {
  font-family: "Inter", Verdana, sans-serif;
}

span.price, .section-title-contacts, .section-title, h3, h2, h1 {
  font-family: "Merriweather", Verdana, sans-serif;
}

@font-face {
  font-family: "Merriweather", serif;
  src: url("../assets/fonts/Merriweather/Merriweather-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter/Inter-VariableFont_slnt,wght.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Inter", sans-serif;
  src: url("../assets/fonts/Inter/static/Inter-Bold.ttf");
  font-weight: 700;
}
html {
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  background-color: #000000;
  color: #ffffff;
  margin: 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.6rem;
  overflow-x: hidden;
}
body.light-theme {
  background-color: #ffffff;
  color: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

h1 {
  font-size: 6rem;
  font-style: normal;
  font-weight: bold;
  line-height: 12rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 6.4rem;
  }
}

h2 {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
}
@media (max-width: 768px) {
  h2 {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 4rem;
  }
}

h3 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5.6rem;
}

h4 {
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4rem;
}

section,
main,
footer,
header,
article {
  display: block;
}

a {
  color: #ffffff;
  cursor: pointer;
  text-decoration: none;
}
a.light-theme {
  color: #000000;
}

.button {
  position: relative;
  width: 22rem;
  padding: 0.5rem 0;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  text-align: center;
  margin-left: 0.5rem;
  cursor: pointer;
  transition: all 0.3s;
}
.button_bordered {
  background: #000000;
  border: 0.2rem solid #bdae82;
  color: #bdae82;
}
.button_bordered.light-theme {
  background: #bdae82;
  color: #000000;
  border: 2px solid #bdae82;
}
.button_colored {
  background: #bdae82;
  color: #000000;
  border: 2px solid #bdae82;
}
.button_colored.light-theme {
  background: #000000;
  border: 0.2rem solid #bdae82;
  color: #bdae82;
}
.button:hover {
  color: #ffffff;
}
.button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  border: 1px solid rgba(20, 18, 18, 0.527);
  transition: all 0.3s;
}
.button:hover::before {
  opacity: 0;
  transform: scale(0.5, 0.5);
}
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 95%;
  height: 90%;
  z-index: 1;
  opacity: 0;
  transition: all 0.5s;
  border: 5px solid rgba(100, 90, 90, 0.5);
  transform: scale(1.4, 1.4);
}
.button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.button:first-child {
  margin-left: 0;
}

.video__button {
  margin: 0 auto;
  cursor: pointer;
  transition: all 0.3s;
}

.contact__button {
  margin: 0 0 19.5rem;
}
@media (max-width: 768px) {
  .contact__button {
    width: 22rem;
    margin: 0 auto 0;
  }
}

.portfolio__buttons {
  display: flex;
  justify-content: center;
  margin: 0 0 6rem;
}
@media (max-width: 768px) {
  .portfolio__buttons {
    margin-bottom: 5.5rem;
    max-width: 44.5rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 414px) {
  .portfolio__buttons {
    min-width: 22.5rem;
    margin-left: auto;
    margin-right: auto;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 768px) {
  .portfolio__buttons > * {
    margin: 0 0 0.6rem;
  }
}

.portfolio__buttons .button:hover {
  background: #bdae82;
}
.portfolio__buttons .button:hover.light-theme {
  background: #000000;
  color: #bdae82;
}

.portfolio__buttons .button.active {
  background: #bdae82;
  color: #000000;
}
.portfolio__buttons .button.active.light-theme {
  background-color: #000000;
  color: #bdae82;
}

.portfolio__buttons .button.active:hover {
  background: #bdae82;
  color: #ffffff;
}

.light_btn {
  background: #bdae82;
  color: #000000;
  border: 2px solid #bdae82;
}
.light_btn.light-theme {
  background: #ffffff;
  color: #000000;
}
.light_btn.light-theme:hover {
  background: #000000;
  color: #bdae82;
}

.price_btn.light-theme {
  background: #bdae82;
  color: #000000;
}
.price_btn.light-theme:hover {
  background: #000000;
  color: #bdae82;
}

.logo__container {
  width: 5rem;
  height: 4rem;
}

.logo {
  width: 5rem;
}

a.logo {
  line-height: 0;
}

.logo-svg {
  cursor: pointer;
}
.logo-svg .logo-path {
  fill: #ffffff;
}

.logo-svg .light-theme {
  cursor: pointer;
}
.logo-svg .light-theme .logo-path {
  fill: #000000;
}

.logo-svg:hover .logo-path {
  fill: #bdae82;
}

.ico {
  cursor: pointer;
  width: 66px;
  height: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 0 50px;
}
@media (max-width: 768px) {
  .ico {
    margin: 0 0 30px;
  }
}

.skills-icon_camera {
  background-image: url(../assets/svg/camera.svg);
  width: 61.84px;
  height: 50px;
}
.skills-icon_video {
  background-image: url(../assets/svg/video.svg);
  width: 60px;
  height: 50px;
}
.skills-icon_retouch {
  background-image: url(../assets/svg/image.svg);
  width: 66px;
  height: 50px;
}
.skills-icon_audio {
  background-image: url(../assets/svg/mic.svg);
  width: 32px;
  height: 50px;
}

.section-title-block {
  position: relative;
  margin: 10rem auto 6rem;
}
@media (max-width: 768px) {
  .section-title-block {
    width: 36.4rem;
    margin: 8rem auto 5rem;
  }
}

@media (max-width: 768px) {
  .section-title-block.skills-title {
    width: 36.4rem;
    margin: 8rem auto 4.5rem;
  }
}

.gradient-container {
  width: 50%;
  margin: 0 auto;
  background-image: linear-gradient(to top, #000000 39px, #bdae82 39px, #bdae82 41px, #000000 41px);
}
.gradient-container.light-theme {
  background-image: linear-gradient(to top, #ffffff 39px, #000000 39px, #000000 41px, #ffffff 41px);
}

.section-title {
  margin: 0 auto;
  position: relative;
  padding: 0 20px;
  text-align: center;
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
  display: table;
  color: #bdae82;
  background-color: #000000;
  text-transform: capitalize;
}
@media (max-width: 768px) {
  .section-title {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 8rem;
  }
}
.section-title.light-theme {
  background-color: #ffffff;
  color: #000000;
}

@media (max-width: 768px) {
  .portfolio-title {
    margin-top: 8.5rem;
  }
}

.title-line {
  background: url("../assets/img/section-title-line.png") center 0 no-repeat;
  position: absolute;
  top: 50%;
}
@media (max-width: 768px) {
  .title-line {
    width: 36.4rem;
  }
}
@media (max-width: 414px) {
  .title-line {
    width: 100%;
  }
}

.section-title-contacts {
  font-size: 4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 8rem;
  display: table;
  color: #bdae82;
  margin: 0 0 4rem;
}
@media (max-width: 768px) {
  .section-title-contacts {
    font-size: 3.2rem;
    font-style: normal;
    font-weight: bold;
    line-height: 6.4rem;
    margin: 6rem auto 4rem;
  }
}
.section-title-contacts.light-theme {
  color: #000000;
}

.hamburger__line, .hamburger:after, .hamburger:before {
  content: "";
  display: flex;
  position: absolute;
  z-index: 4;
  background: #ffffff;
  width: 100%;
  height: 3px;
}

.hamburger {
  display: none;
  position: relative;
  width: 50px;
  height: 50px;
}
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
.hamburger:before {
  width: 100%;
  top: 12px;
  left: 0;
}
.hamburger:after {
  width: 100%;
  bottom: 9px;
  left: 0;
}

.header__hamburger:hover > * {
  cursor: pointer;
  background-color: #000000;
}

.hamburger__line {
  top: calc(50% + 0.5px);
  left: 0;
  z-index: 15;
  transition: all 0.3s ease-in-out;
}

.hamburger.open .hamburger__line {
  transform: rotate(-45deg) translate(-1px, 0);
}

.hamburger.open:before {
  transform: rotate(45deg) translate(11px, 10px);
}
.hamburger.open:after {
  opacity: 0;
}

.sun-svg {
  cursor: pointer;
}

.sun-svg:hover .sun-path {
  fill: #bdae82;
}

.sun {
  width: 4.5rem;
  height: 4.5rem;
  margin-left: 3.5rem;
}
@media (max-width: 768px) {
  .sun {
    margin: 0 3rem 0 1rem;
  }
}
@media (max-width: 414px) {
  .sun {
    margin: 0 1rem 0 0;
  }
}

.sun-object {
  cursor: pointer;
}
.sun-object:hover {
  filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
}

.container {
  max-width: 1440px;
  margin: auto;
  padding: 0 20px;
}
@media (max-width: 768px) {
  .container {
    padding: 0;
  }
}

@media (max-width: 1440px) {
  .skills-items {
    justify-content: space-around;
  }
}
.header {
  padding: 20px 0;
  position: relative;
}

.header__container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("../assets/img/bg.jpg") center 0 no-repeat;
  background-size: 1440px 910px;
}
@media (max-width: 768px) {
  .header__container {
    position: relative;
    padding-left: 60px;
    padding-right: 64px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}
.header__container.light-theme {
  background: url("../assets/img/bg_light.jpg") center 0 no-repeat;
  background-size: 1440px 910px;
}
@media (max-width: 768px) {
  .header__container.light-theme {
    position: relative;
    padding-left: 60px;
    padding-right: 64px;
    background-position: -5px -30px;
    background-size: auto 620px;
  }
}

.header__container a:hover {
  color: #bdae82;
}

.layout-4-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.layout-4-columns > * {
  flex-basis: 23%;
}

@media (max-width: 768px) {
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }
  .skills-wrapper > * {
    flex-basis: 44.87%;
  }
}
@media (max-width: 414px) {
  .skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
  }
  .skills-wrapper > * {
    flex-basis: 100%;
  }
}

.layout-3-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.layout-3-columns > * {
  flex-basis: 32%;
}

.portfolio__content {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}
.portfolio__content > * {
  flex-basis: 32%;
}

@media (max-width: 768px) {
  .price-wrapper {
    width: 42rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
  }
  .price-wrapper > * {
    flex-basis: 100%;
  }
  .price-wrapper > * {
    margin-bottom: 4.8rem;
  }
}
@media (max-width: 414px) {
  .price-wrapper {
    width: 32rem;
  }
}
@media (max-width: 320px) {
  .price-wrapper {
    width: 24rem;
  }
}

.footer__container {
  padding: 5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .footer__container {
    height: 19rem;
    flex-direction: column;
    padding: 2.8rem 0 3.97rem;
  }
}

.footer__container a:hover {
  color: #bdae82;
}

.social__networks {
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-content: center;
  width: 188px;
  font-size: 0;
  line-height: 0;
}

.footer-item span {
  padding-right: 15px;
  vertical-align: top;
}
@media (max-width: 768px) {
  .footer-item span {
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2.4rem;
    padding-bottom: 1.6rem;
  }
}

.footer-item span:last-child {
  padding-right: 0;
}

a.social__networks {
  line-height: 0;
}

.icon-svg {
  cursor: pointer;
}

.icon-svg:hover .icon-path {
  fill: #bdae82;
}

.contacts__container {
  display: flex;
  justify-content: end;
  align-items: center;
  background: url(../assets/img/contacts.jpg) center no-repeat;
  background-size: auto 70rem;
}
@media (max-width: 768px) {
  .contacts__container {
    height: 60rem;
    background-position: -23.3rem -0.2rem;
    background-size: auto 60rem;
  }
}
.contacts__container.light-theme {
  background: url("../assets/img/contacts_light.jpg") center no-repeat;
  background-size: auto 70rem;
}
@media (max-width: 768px) {
  .contacts__container.light-theme {
    height: 60rem;
    background-position: -23.3rem -0.2rem;
    background-size: auto 60rem;
  }
}

.contact-block {
  max-width: 45rem;
  margin: 6rem 0 0;
}
@media (max-width: 768px) {
  .contact-block {
    height: 60rem;
    margin: 0 auto 0;
  }
}
@media (max-width: 414px) {
  .contact-block {
    max-width: 22rem;
    height: 60rem;
    margin: 0 auto 0;
  }
}

.contacts__line {
  margin: 0 0 2rem;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-text-fill-color: #bdae82;
  transition: background-color 0s ease-in-out 9000s;
}

.contact__form input,
.contact__form textarea {
  width: 450px;
  color: #bdae82;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #bdae82;
  padding: 0.3rem 0 0.3rem 2rem;
  transition: 180ms box-shadow ease-in-out;
}
.contact__form input.light-theme,
.contact__form textarea.light-theme {
  background: rgba(255, 255, 255, 0.5);
  color: #000000;
}
.contact__form input:focus,
.contact__form textarea:focus {
  border: 0.2rem solid #bdae82;
  outline: none;
}
.contact__form input input,
.contact__form textarea input {
  margin: 0 0 1.8rem;
}
@media (max-width: 414px) {
  .contact__form input,
.contact__form textarea {
    width: 22rem;
  }
}
.contact__form ::placeholder {
  color: #bdae82;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}
.contact__form ::placeholder.light-theme {
  color: #000000;
}
.contact__form .contacts__line:focus {
  max-width: 44.8rem;
  box-shadow: 0 0 0 0.2rem #bdae82;
}
.contact__form textarea.contacts__line {
  resize: none;
  height: 100px;
  width: 450px;
  margin: 0 0 2.4rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
}
@media (max-width: 768px) {
  .contact__form textarea.contacts__line {
    margin: 0 0 2rem;
  }
}
@media (max-width: 414px) {
  .contact__form textarea.contacts__line {
    width: 22rem;
  }
}

#hero.section.hero {
  position: relative;
}

.hero__container {
  display: flex;
  justify-content: start;
  align-items: center;
  background: url("../assets/img/bg.jpg") center -90px no-repeat;
  background-size: 1440px 910px;
}
@media (max-width: 768px) {
  .hero__container {
    position: relative;
    z-index: 0;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
}
.hero__container.light-theme {
  background: url("../assets/img/bg_light.jpg") center -90px no-repeat;
  background-size: 1440px 910px;
}
@media (max-width: 768px) {
  .hero__container.light-theme {
    position: relative;
    z-index: 0;
    background-position: -5px -120px;
    background-size: auto 620px;
  }
}

.hero__content {
  margin: 16rem 0 0 6rem;
}
@media (max-width: 768px) {
  .hero__content {
    margin: 7.8rem 0 0 6rem;
    position: relative;
  }
}

.hero__title {
  max-width: 50rem;
  margin: 0 0 1rem;
}
@media (max-width: 768px) {
  .hero__title {
    max-width: 16.5rem;
    margin: 0 0 2rem;
  }
}

.hero__description {
  max-width: 47rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 4rem;
  margin: 0 0 2.5rem;
}
@media (max-width: 768px) {
  .hero__description {
    max-width: 39rem;
    margin: 0 0 6rem;
  }
}

@media (max-width: 768px) {
  p.hero__description {
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2.4rem;
  }
}

.hero__button {
  margin: 0 0 33rem;
}
@media (max-width: 768px) {
  .hero__button {
    margin: 0 0 15.2rem;
  }
}

.header__navigation {
  margin-left: auto;
  margin-right: 2.5rem;
}

.nav-list {
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: normal;
  line-height: 5rem;
}

.nav__item a {
  list-style: none;
  text-transform: capitalize;
  padding: 0 1.5rem;
}
.nav__item a:hover {
  color: #bdae82;
}
.nav__item a.light-theme:hover {
  color: #ffffff;
}

.header__languages {
  display: flex;
  font-size: 2rem;
  font-style: normal;
  font-weight: bold;
  line-height: 5rem;
}
@media (max-width: 768px) {
  .header__languages {
    margin-left: auto;
    margin-right: 2rem;
  }
}
@media (max-width: 414px) {
  .header__languages {
    margin-right: 1rem;
  }
}

.language-switcher > a.active {
  color: #ffffff;
}

.language-switcher {
  font-style: normal;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .language-switcher {
    margin-left: 0;
  }
}
.language-switcher.light-theme {
  color: #000000;
}

.language-switcher.active a {
  color: #bdae82;
}
.language-switcher.active a.light-theme {
  color: #ffffff;
}

.language-switcher:hover a.light-theme {
  color: #ffffff;
}

.slash {
  padding: 0 1rem;
}
@media (max-width: 768px) {
  .slash {
    padding: 0 1.1rem;
  }
}
@media (max-width: 320px) {
  .slash {
    padding: 0;
  }
}

@media (max-width: 768px) {
  .nav-list {
    position: absolute;
    top: 0;
    right: -768px;
    z-index: 3;
    transition: 0.5s;
    max-width: 62rem;
    height: 100vh;
    background-color: #000000;
    flex-direction: column;
    padding: 134px 343px 461px 127px;
  }

  .open {
    right: 0;
  }

  a.nav-link {
    display: flex;
    flex-direction: column;
    font-size: 3.5rem;
    font-style: normal;
    font-weight: normal;
    line-height: 7.3rem;
  }

  .nav__item {
    padding: 0;
    margin: 0 0 16px;
  }
}
@media (max-width: 414px) {
  .nav-list {
    padding: 134px 127px 461px 127px;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .skills-wrapper {
    padding: 0 7.4rem 0 7rem;
  }
}

.section-title {
  width: 11.2rem;
}

.skills-header {
  margin: 0 0 2rem;
}

.skills__description {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.6rem;
  margin: 0 0 1rem;
  padding: 0 2rem;
}
@media (max-width: 768px) {
  .skills__description {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: normal;
    line-height: 2.2rem;
    padding: 0 0 6.1rem;
  }
}

@media (max-width: 768px) {
  .skills__description:nth-child(3) {
    padding-bottom: 6.5rem;
  }
}

@media (max-width: 768px) {
  .skills__description:nth-child(4) {
    padding-bottom: 6.5rem;
  }
}

@media (max-width: 768px) {
  .portfolio__content > * {
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 768px) {
  .portfolio__content {
    display: flex;
    flex-wrap: wrap;
  }
}

.portfolio__foto {
  width: 45rem;
  margin-bottom: 2.5rem;
}
@media (max-width: 414px) {
  .portfolio__foto {
    width: 32rem;
  }
}
@media (max-width: 320px) {
  .portfolio__foto {
    width: 25rem;
  }
}

.portfolio__foto:nth-child(4) {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .portfolio__foto:nth-child(4) {
    margin-bottom: 2.5rem;
  }
}

.portfolio__foto:nth-child(5) {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .portfolio__foto:nth-child(5) {
    margin-bottom: 2.5rem;
  }
}

.portfolio__foto:nth-child(6) {
  margin-bottom: 0;
}

.video {
  overflow: hidden;
}

.video-block {
  position: relative;
}

.video__foto {
  background: url(../assets/img/video-player.jpg) center no-repeat;
  height: 70.5rem;
  background-size: 1400px 705px;
}
@media (max-width: 768px) {
  .video__foto {
    height: 41.8rem;
    background: url(../assets/img/video-player-tablet.jpg) center no-repeat;
    background-position: -1px 0px;
    background-size: auto 419px;
  }
}
@media (max-width: 414px) {
  .video__foto {
    background-position: -73px 0px;
  }
}
@media (max-width: 320px) {
  .video__foto {
    background-position: -125px 0px;
  }
}

.video__button {
  position: absolute;
  bottom: 275px;
  left: 636px;
}
@media (max-width: 768px) {
  .video__button > * {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .video__button {
    width: 6.46rem;
    height: 6.47rem;
    bottom: 176px;
    left: 350px;
  }
}
@media (max-width: 414px) {
  .video__button {
    left: 173px;
  }
}
@media (max-width: 320px) {
  .video__button {
    left: 125px;
  }
}

.play-svg:hover .play-path {
  fill: #bdae82;
}

.price-block {
  padding: 0 0 100px;
}
@media (max-width: 768px) {
  .price-block {
    padding: 0 0 35px;
  }
}

.price-item {
  border: 3px solid #bdae82;
}

.price-header {
  margin: 4rem auto 2rem;
}

span.price {
  display: block;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: bold;
  line-height: 4.8rem;
  color: #bdae82;
  margin: 0 0 2.2rem;
}

.price__content {
  font-size: 1.8rem;
  font-style: normal;
  font-weight: normal;
  line-height: 3.6rem;
  color: #ffffff;
}
.price__content.light-theme {
  color: #000000;
}

.price__button {
  margin: 40px 0;
}

/*# sourceMappingURL=style.css.map */
