.footer__container {
    padding: 5rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include media-tablet {
        height: 19rem;
        flex-direction: column;
        padding: 2.8rem 0 3.97rem;
    }
}

.footer__container a:hover {
    color: $color-primary;
    @extend %transition;
}

.social__networks {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-content: center;
    width: 188px;
    font-size: 0;
    line-height: 0;
}

.footer-item span {
    padding-right: 15px;
    vertical-align: top;
    @include media-tablet {
        @include font($size: 2rem, $height: 2.4rem, $weight: normal);
        padding-bottom: 1.6rem;
    }
} 

.footer-item span:last-child {
    padding-right: 0;
} 

a.social__networks {
    line-height: 0;
}

.icon-path {
    @extend %transition;
}

.icon-svg {
    cursor: pointer;
}

.icon-svg:hover {
    .icon-path {
        fill: $color-primary;
    }
}