.header {
    padding: 20px 0;
}

.header__container {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: url('../assets/img/bg.jpg') center 0 no-repeat;
    background-size: 1440px 910px;
    @include media-tablet {
        position: relative;
        padding-left: 60px;
        padding-right: 64px;
        background-position: -5px -30px;
        background-size: auto 620px;
    }
}

.header__container a:hover {
    color: $color-primary;
    @extend %transition;
}
