.header__navigation {
    margin-left: auto;
    margin-right: 1.5rem;
}

.nav-list {
    display: flex;
    @include font($size: 2rem, $height: 5rem, $weight: normal);
}

.nav__item {
    list-style: none;
    text-transform: capitalize;
    padding: 0 3rem;
    @extend %transition;
    &:hover {
        color: $color-primary;
    }
}

.header__languages {
    display: flex;
}

.language-switcher {
font-style: normal;
font-weight: bold;
text-align: center;
color: $color-text;
}

.slash {
    padding: 0 0.8rem;
}