.header__navigation {
    margin-left: auto;
    margin-right: 2.5rem;
}

.nav-list {
    display: flex;
    @include font($size: 2rem, $height: 5rem, $weight: normal);
}

.nav__item {
    list-style: none;
    text-transform: capitalize;
    padding: 0 1.5rem;
    @extend %transition;
    &:hover {
        color: $color-primary;
    }
    &.light-theme:hover {
        color: $color-text;
    }
}

.header__languages {
    display: flex;
    @include font($size: 2rem, $height: 5rem, $weight: bold);
    @include media-tablet {
        margin-left: auto;
        margin-right: 2rem;
    }
    @include media-big-mobile {
        margin-right: 1rem;
    }
}

.language-switcher > a.active {
    color: $color-text;
}


// .portfolio__buttons .button.active {
//     background: $color-primary;
//     color: $color-background;
//     &.light-theme {
//         background-color: $color-background;
//         color: $color-primary;
//     }
// }


.language-switcher {
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: $color-text;
    text-transform: uppercase;
    @include media-big-mobile {
        margin-left: 0;
    }
    &.light-theme {
        color: $color-background;
    }
}

.language-switcher.active a {
    color: $color-primary;
    &.light-theme {
        color: $color-text;
    }
}

.slash {
    padding: 0 1rem;
    @include media-tablet {
        padding: 0 1.1rem;
    }
    @include media-small-mobile {
        padding: 0;
    }
}

@include media-tablet {
    .nav-list {
        position: absolute;
        top: 0;
        right: -768px;
        z-index: 3;
        transition: 0.5s;
        max-width: 62rem;
        height: 100vh;
        background-color: $color-background;
        flex-direction: column;
        padding: 134px 343px 461px 127px;
    }

    .open {
        right: 0;
    }

    a.nav-link {
        display: flex;
        flex-direction: column;
        @include font($size: 3.5rem, $height: 7.3rem, $weight: normal);
     }
    .nav__item {
        padding: 0;
        margin: 0 0 16px;
    }
}

@include media-big-mobile {
    .nav-list {
        padding: 134px 127px 461px 127px;
        justify-content: center;
    }
}