.portfolio__foto {
    width: 450px;
    margin-bottom: 25px;
}

.portfolio__foto:nth-child(4) {
    margin-bottom: 0;
}

.portfolio__foto:nth-child(5) {
    margin-bottom: 0;
}

.portfolio__foto:nth-child(6) {
    margin-bottom: 0;
}