.portfolio__content {
    >* {
        @include media-tablet {
            margin-left: auto;
            margin-right: auto;
        }
    }
    @include media-tablet {
        display: flex;
        flex-wrap: wrap;
    }
}

.portfolio__foto {
    width: 45rem;
    margin-bottom: 2.5rem;
    @include media-big-mobile {
        width: 32rem;
    }
    @include media-small-mobile {
        width: 25rem;
    }
}

.portfolio__foto:nth-child(4) {
    margin-bottom: 0;
    @include media-tablet {
        margin-bottom: 2.5rem;
    }
}

.portfolio__foto:nth-child(5) {
    margin-bottom: 0;
    @include media-tablet {
        margin-bottom: 2.5rem;
    }
}

.portfolio__foto:nth-child(6) {
    margin-bottom: 0;
}