.logo__container {
    width: 5rem;
    height: 4rem;
}

.logo {
    width: 5rem;
}

a.logo {
    line-height: 0;
}

.logo-path,
.logo-path_light {
    @extend %transition;
}

.logo-svg {
    cursor: pointer;
    .logo-path {
        fill: $color-text;
    }
}

.logo-svg_light {
    cursor: pointer;
}

.logo-svg_light:hover {
    .logo-path_light {
        fill: $color-text;
    }
}


.logo_dark {
    &.light-theme {
        display: none;
    }
}

.logo-svg:hover {
    .logo-path {
        fill: $color-primary;
    }
}

.logo_light {
    display: none;
    &.light-theme {
        display: block;
    }
}
